# Compiled Source Files #
*.pyc


# Exported GPG Key Files #
*.asc
*.gpg

# Text Files #
*.txt

# Config/Log Files #
*.conf
*.log
*.p

# Backup Files #
*~
*#
*.swp

# Miscellaneous IDE files #
.idea

# Cython files #
*.c
bin
